<div class="container">
	<h2><%= @bedroom.name %></h2>
	<% if @properties.each do |property| %>
	  <h2><%= link_to property.title, property %></h2>
	<% end.empty? %>
	<p> Please Check back again to see if we have this bedroom style. </p>
	<% end %>

	<%= link_to "Back to Bedroom", bedrooms_path %>
</div>